<% provide(:title, "Help") %>

<br>
<div class="breadcrumb"style="background-color: darkgreen;color: white">
  <h3>Help</h3>
</div>


<p>
  If you need technical assistance , please contact your network administrator.<br>
  Please note that access (read-only) is only given to Herga-Home Occupants. <br>
  Only users with "system admin" permissions can enter or remove data into/from the application.<br> <br>

  You can contact the administrator on <b>0851012654</b>.<br><br>
  If you have just requested access, please note that it may take up to 24hours before access is granted.
</p>