<% provide(:title, "Edit Cash Recons") %>

<div class="breadcrumb">
  <h3>Editing Cashflow Recon</h3>
</div>


<%= render 'form', cashflow_recon: @cashflow_recon %>
<br>

<div class="breadcrumb">
  <%= link_to 'View', @cashflow_recon, class:'fa fa-eye' %> |
  <%= link_to 'Back', cashflow_recons_path, class:'fa fa-arrow-left' %>
</div>
