<% provide(:title, "Edit Bank Account") %>

<div class="breadcrumb">
  <h3>Editing Bank Account</h3>
</div>


<%= render 'form', bankaccount: @bankaccount %>
<br>
<div class="breadcrumb">
  <%= link_to 'View', @bankaccount, class:'fa fa-eye' %> |
  <%= link_to 'Back', bankaccounts_path, class:'fa fa-arrow-left' %>
</div>
