<% provide(:title, "Edit Delivery") %>

<div class="breadcrumb">
  <h3>Editing Delivery</h3>
</div>


<%= render 'form', delivery: @delivery %>

<br>
<div class="breadcrumb">
<%= link_to 'View', @delivery, class:'fa fa-eye' %> |
<%= link_to 'Back', deliveries_path , class:'fa fa-arrow-left'%>
</div>