<% provide(:title, "Delivery") %>


<div class="breadcrumb">
  <h3>New Delivery</h3>
</div>

<%= render 'form', delivery: @delivery %>
<br>

<div class="breadcrumb">
<%= link_to 'Back', deliveries_path , class:'fa fa-arrow-left'%>
</div>