<% provide(:title, "Edit Ledger") %>

<div class="breadcrumb">
  <h3>Editing Ledger</h3>
</div>


<%= render 'form', ledger: @ledger %>

<div class="breadcrumb">
<%= link_to 'View', @ledger , class:'fa fa-eye'%> |
<%= link_to 'Back', ledgers_path, class:'fa fa-arrow-left'%>
</div>