<% provide(:title, "New Ledger") %>

<div class="breadcrumb">
  <h3>New Ledger</h3>
</div>

<%= render 'form', ledger: @ledger %>

<div class="breadcrumb">
<%= link_to 'Back', ledgers_path, class:'fa fa-arrow-left' %>
</div>