<% provide(:title, "New Service Provider") %>

<div class="breadcrumb">
  <h3>New Service Provider</h3>
</div>

<%= render 'form', service_provider: @service_provider %>

<div class="breadcrumb">
  <%= link_to 'Back', service_providers_path, class:'fa fa-arrow-left' %>
</div>

