<% provide(:title, "New resource") %>
<div class="breadcrumb">
  <h3>New Resource</h3>
</div>

<%= render 'form', resource: @resource %>
<br>
<div class="breadcrumb">
  <%= link_to 'Back', resources_path , class:'fa fa-arrow-left' %>
</div>




