<% provide(:title, "Edit") %>

<div class="breadcrumb"style="background-color: silver">
  Editing Health Case
</div>


<%= render 'form', health_case: @health_case %>


<div class="breadcrumb"style="background-color: silver">
  <%= link_to 'View', @health_case %> |
  <%= link_to 'Back', health_cases_path %>
</div>

